# COSADAMA Introduction to Data Science Study

- 작성자: 정 찬
- 참고자료: 2020년 코사다마 데이터 분석 커리큘럼(박하람), 2021년 코사다마 데이터 분석 커리큘럼(조용주), 파이썬 머신러닝 완벽 가이드(권철민), 비주얼 프로그래밍 수업(김승태), 파이썬으로 데이터 주무르기(민형기),

Introduction to Data Science 커리큘럼의 목적은 데이터 '수집, '조작', '시각화'입니다. 1~2주에는 이미 만들어진 데이터를 조작하고, 효과적으로 시각화 하는 방법에 대해 배울 예정입니다.

이번 주에는 **데이터 분석 모듈 Pandas, 수치 데이터 처리 모듈 Numpy, 시각화 모듈 matplitlib**에 대해 배웁니다. 앞으로 가장 많이 사용하게 되실 모듈이니 꼼꼼히 공부하시고, 스스로 사용해보시며 친해지시길 바랍니다.

## 1. Pandas

모든 데이터, 정보가 줄글로 씌여 있다고 생각해 봅시다. 예컨대 
> 사과 100개, 귤 200개, 양초 50개가 있습니다.

이정도의 데이터는 한 눈으로 봐도 이해가 될 수 있습니다. 하지만 1960년대부터 2022년까지 매일, 모든 지역의, 모든 과일의 시세를 직관적으로 파악하기는 힘듭니다. 그래서 사람들은 대부분 **행row과 열column**으로 된 표table 형태의 2차원 데이터를 사용합니다. Excel이나 Numbers를 떠올리셨다면 정답입니다. **Pandas**는 이러한 2차원 데이터를 가공하고 처리하기 위해 만들어졌습니다. 

그렇다면 왜 Excel을 사용하지 않냐는 물음이 생길 수 있습니다. 우리가 다루는 데이터들은 하나하나 확인하기 어려울만큼 거대합니다. 컬럼이 한 화면에 들어오기 어려운 경우도 많고, 애초에 데이터가 많아서 Excel이 실행되지 않기도 합니다. 그래서 판다스는 보다 개념적인 명령을 통해 큰 데이터의 추출, 조작을 도와줍니다.

Excel을 쓸 줄 아는 사람들은 많지만, Excel의 모든 기능을 사용할 줄 아는 전문가는 많지 않습니다. Pansdas도 마찬가지 입니다. 많이 사용되는 기능 위주로 작성했으니 더 필요한 부분은 구글에게 물어가며 이후 프로젝트를 진행해 봅시다.

### 1.1. Pandas의 자료 구조

- **Series**: 1차원 배열의 자료구조. 하나의 열(column컬럼)으로 이루어짐. 인덱스와 함께 구성됨. 
- **DataFrame**: 2차원 배열의 자료구조. 여러 열로 이루어짐.

Series와 DataFrame의 가장 큰 차이는 Series는 칼럼이 하나, DataFrame은 칼럼이 여러 개!

> 행.. 열..?

> 보통 가로, 세로 순서로 말하죠? 행과 열도 가로(행row), 세로(열column) 순서입니다.

> 하지만 엄밀하게 말해서 "행렬"Matrix과 같은 의미는 아닙니다. 연산 규칙이 달라지거든요. 일단 DataFrame이 행렬Matrix보다 더 직관적이라고만 알고 계셔도 충분합니다.

> 배열(array): 같은 타입의 변수들로 이루어진 유한 집합.

In [ ]:
# 파이썬 3.8버전 추가하기(숙지할 필요 없음)

import sys 
sys.path.append("/usr/local/lib/python3.8/site-packages")

In [2]:
# pandas 모듈 import
# pandas 모듈을 가져와! 
# 코드에서는 pd라고 축약해서 쓸거야!
import pandas as pd

In [3]:
# Series
obj = pd.Series([4,7,-5,3])   # 왼쪽의 인덱스와 결합됨. 오른쪽이 시리즈의 값.
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.index

# 숫자 범위로 된 인덱스. 0부터 4까지 1씩 증가.

RangeIndex(start=0, stop=4, step=1)

In [5]:
# 인덱스 지정하기
obj2 = pd.Series([4,7,-5,3], index=['d','b','a','c'])
obj2   # 항상 어떤 데이터가 들어있는지 확인해보는 것 잊지말기!

d    4
b    7
a   -5
c    3
dtype: int64

In [6]:
# 인덱스가 'd'인 값 정수 6으로 바꾸기
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [7]:
# 딕셔너리에서 Series 만들기 
sdata = {'Ohio': 35000, 'Texas':71000,
        'Oregon':16000, 'Utah':5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [8]:
# 리스트로 인덱스 설정하기
state = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata, index=state)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

- NaN: Not a Number -> 값이 없다!

     -  문제: Series나 DataFrame을 열었는데 공백으로 표시된다면 그 데이터는 NaN일까?

    - 정답: NO! NaN은 NaN이라고 분명하게 표시됩니다. 확인해 봐야 알겠지만, ''이나 ' ' 같은 모양으로 된 "데이터가 들어가 있"을 가능성이 높아요. 물론 0도 0이라고 분명하게 표시해 줍니다.

### DataFrame
- 구성: 인덱스index, 열column, 데이터
- 여러 행, 여러 열로 이루어진 2차원 데이터 구조체
- DataFrame == 여러 개의 Series
- Series는 DataFrame의 열column이 될 수 있음

In [9]:
# 딕셔너리를 이용해 DataFrame 생성하기 
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002],
       'pop':[1.5,1.7,3.6,2.4,2.9]}
df = pd.DataFrame(data)
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [10]:
# 칼럼을 원하는 순서대로 보기 
df2 = pd.DataFrame(data, columns=['year','state','pop'])
df2

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [11]:
# 인덱스를 지정하고 싶다면
df3 = pd.DataFrame(data, columns=['year','state','pop','debt'],
                  index=['one','two','three','four','five'])
df3

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN

### 1.2. 데이터 준비

1. [Kaggle](https://www.kaggle.com/c/titanic/data)에 가입하기
2. Data Explorer의 train.csv 다운로드 하기
3. 특정 저장 위치(예: "D:/COSADAMA/Week1/train.csv")에 저장하기
4. 위의 예시처럼 저장 위치 복사해 두기
5. pd.read_csv('저장위치', encoding = 'utf-8', sep = ',', names = ['원하는','컬럼 이름으로', '변경하기'], usecols = ['원본 데이터의', '원하는', '컬럼이름들'])

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')
titanic_df.head()  # 데이터가 너무 많을 때 앞의 5개만 불러오기

- 데이터 프레임 만들기
- pd.read_csv() -> 인코딩, uescols 등등 같이 알려주기

### 1.3. 데이터 확인

- head()
- tail()
- type()
- shape()
- info()
- describe()
- value_counts()
- sort_values()

### 1.4. 원하는 데이터 선택

- 슬라이싱: [[]]
- 불린 인덱싱: []==?
- loc[], iloc[]

### 1.5. 연산Aggregation 함수

- min(), max(), sum(), count()
- groupby()

### 1.6. 데이터 보간

- 결측치 확인: isna()
- 결측치 대체:
    - fillna()
    - replace()
- 인덱스 초기화: reset_index()

### 1.7. 데이터 삭제

- drop()
- del()

### 1.8. 사용자 지정함수 apply lambda()

### 1.9. DataFrame 병합

- pd.concat()
- pd.merge()

### 1.10. 기타

- 컬럼 이름 바꾸기: df.column = []
- 자료형 바꾸기: 
    - df.astype()
    - apply(pd.to_numeric)
- 로컬 파일의 특정 형식(csv) 파일 모두 읽어오기:
    - from os import listdir
    - from glob import iglob
- DataFrame을 csv, excel 형태로 로컬에 저장하기

## 2. NumPy

**NumPy**는 선형대수 기반 데이터/수치 분석 모듈입니다. 파이썬에서 여러 데이터를 연산할 때 for이나 while을 사용했습니다. 이런 형태를 loop라고 하고 계속해서 순차적으로 데이터를 확인하고 연산합니다. CPU를 사용해 하나하나 처리하는 형식입니다. 

하지만 numpy는 수치(숫자)로 된 데이터를 배열Array형식으로 인식하여 계산하기 때문에 기존보다 더 빠르게 만들어줍니다. 배열은 쉽게 말하면 n차원의 행렬matrix로 된 데이터입니다. NumPy가 빠른 이유는 GPU를 사용한 배열의 병렬 계산이 가능하기 때문입니다. (물론 cpu로도 가능합니다)

이번 커리큘럼의 목적은 "Python을 통한 데이터 수집/처리/시각화를 할 수 있다"이기 때문에 더 효율적인 연산에 대한 설명은 각설합니다.

앞선 설명과 같이 NumPy는 Pandas의 처리를 돕는 도구이지, 분석도구는 아닙니다. NumPy 또한 내용이 방대합니다. 기초적인 데이터 분석에 필요한 내용만 추렸으니 더 필요하다면 구글, 책을 통한 스터디를 추천드립니다.

### 2.1. 배열 생성

### 2.2. ndarray 속성

### 2.3. 수학/ 통계 매서드

- np.sum(): 전체 또는 특정 축의 원소의 합계
- np.mean(): 산술평균
- np.std(): 표준편차
- np.var(): 분산
- np.min(), max(): 최소값, 최대값
- np.cumsum(): 누적합
- np.comprod(): 누적곱

### 2.4. array 선택: Slicing

- []
- 불린 인덱싱

### 2.5. ndarray, 난수 생성

- np.arange(): range의 numpy 버전. 0부터 함수 인자 값 -1까지의 값을 순차적으로 ndarray의 데이터값으로 변환해줌.
- np.zeros(): 함수 인자로 튜플 형태의 shape 값을 입력하면 모든 값을 0으로 채운 해당 shape를 가진 ndarray를 반환함.
- np.ones(): 함수 인자로 튜플 형태의 shape 값을 입력하면 모든 값을 1로 채운 해당 shape을 가진 ndarray를 반환함.

- np.random.rand(): 균등 분포에서 추철
- np.random.randint(): 주어진 범위 내의 임의의 난수
- np.random.randn(): 표준편차가 1이고 평균 0인 정규 분포에서 추출
- np.random.normal(): 정규 분포에서 추출

## 3. Matplotlib

우리는 이제 **시각화**를 통해 데이터를 직관적으로 표현할 겁니다. 판다스를 통해 데이터를 예쁘게 만들었어도, 처음 보는 사람이 코드부터 데이터프레임까지 확인하기는 어렵습니다. 그래서 우리는 시각화를 통해 점진적 증가나 하락, A와 B의 차이, 데이터의 분포 등을 고안해 냈습니다.

**Matplotlib**은 가장 간단한 시각화 도구 중 하나입니다. Seaborn, plotly도 있지만 가장 기본적이고 모든 내용을 포괄하기 때문에 Matplotlib을 선정했습니다.

Matplotlib 또한 모든 내용을 외운다고 생각하지 마세요. 어떤 작업을 할 수 있고, 어떤 매커니즘으로 코드를 작성하는지 흐름을 파악하시면 충분합니다. 어차피 막상 프로젝트 들어가면 다시 찾아보게 되니까요:)

### 3.0. 기본 설정

- plt.subplot(): 여러 개의 그래프 한 화면에 그리기
- plt.legend(): 범례 그리기
- plt.title(): 제목
- plt.xlabel(): x축 제목
- plt.ylabel(): y축 제목
- plt.grid(): 그리드 설정
- plt.xlim(), plt.ylim(): x, y축 범위 설정
- 스타일 지정: plt.plot() 괄호 내부에 color='', markers='', linestyle=''을 통해 색, 점 모양, 선 스타일 지정

### 3.1. 1차원

- 히스토그램
- pie chart
- bar chart

### 3.2. 2차원

- line plot
- scatter chart

### 3.3. 3차원(참고)

- bubble chart
- color map
- surface plot