# COSADAMA Introduction to Data Science Study

## Week 2: [프로젝트] 서울시 구별 CCTV 현황 분석

- 작성자: 정 찬
- 참고자료: 2020년 코사다마 데이터 분석 커리큘럼(박하람), 2021년 코사다마 데이터 분석 커리큘럼(조용주), 파이썬 머신러닝 완벽 가이드(권철민), 비주얼 프로그래밍 수업(김승태), 파이썬으로 데이터 주무르기(민형기)

이번 주부터는 프로젝트를 통해 데이터 분석을 익힙니다. 실제 데이터를 통해 Pandas, Numpy, Matplotlib를 다룰 거예요. 그냥 보기만 하면 휘리릭 날아가 버리니 실제로 프로젝트를 맡았다는 생각으로 임해보시기 바랍니다😁 

구체적으로 **서울시 구별 CCTV 현황 분석**을 해보려 합니다. 자잘한 기능에 집중하기 보다 큰 그림을 보면서 "데이터 분석의 흐름이 이렇구나"하며 접근해주세요. 

이번 **서울시 구별 CCTV 현황 분석**에서는 단순히 어디에 CCTV가 많이 설치됐는지부터 구별 인구 대비 비율 확인까지 진행합니다. 특히 인구 현황을 보면서 구별 인구 현황도 확인하고, 구별 CCTV 현황을 시각화하는 것까지 해볼 겁니다. 이번 프로젝트를 통해서 pandas와 Matplotlib의 기초를 다질 수 있을 거예요.

## 1. DataScience란?

여러분이 python, DataScience, 나아가 코딩을 하는 이유는 무엇인가요? 저는 코딩의 본질이 **문제 해결 도구**라고 생각합니다. 코딩을 통해 어떤 가설을 검증할 수도, 서비스를 만들 수도, 몰려오는 트래픽을 해결할 수도 있겠죠. 하지만 코딩 그 자체만 배운다면 좋은 분석가, 엔지니어가 될 수 없다고 생각합니다. 

**1. 1. 데이터사이언스DataScience**

일단 DataScience 커리큘럼을 배우고 있으니 **데이터Data**, **과학Science**, **데이터사이언스DataScience**가 무엇인지 간단하게 짚고 넘어가 봅시다. 

**1.1.1. 데이터Data**

**데이터Data**는 *발견, 조사, 수집, 창작된 형태 그대로의 무언가*를 말합니다. 즉, 인간의 가치판단이 배제된 **사실Fact**에 가깝습니다. 하지만 이 데이터는 그 자체로는 큰 의미가 없습니다. 어부에게 사과 나무 몇 그루가 있다는 데이터(사실)는 별로 중요하지 않습니다. 반면 파이를 만드는 사람은 사과와 관련된 사실들을 재구성해 **정보information**를 만들고, 일반화하여 **지식knowledge**, 이를 활용하는 **지혜wisdom**로 나아갈 수 있습니다. 예컨대

- **data**: 9월 1일(비), 9월 2일(맑음), 9월 3일(비) ...
- **information**: 2017 ~ 2020년 9 ~ 11월 동안 비가 온 날은 10, 30, 11, 13일이고, 2018년 사과값은 다른 때보다 50% 높았다. 21년 9월에만 10일 동안 비가 내렸다.
- **knowledge**: 2021년 9월에는 다른 시기보다 비가 많이 왔다.
- **wisdom**: 사과 값이 오를 예정이므로 비축하거나 대체품을 찾아야한다.

즉, 데이터는 그것 자체보다 **활용하는 사람의 의도나 생각에 따라 의미가 달라**질 수 있습니다.

**1.1.2. 과학Science**

그렇다면 **과학Science**은 어떨까요? **과학**은 **같은 조건 아래에서 같은 결과를 증명**하는 행위입니다. 물론 추상적인 이론이 아닌 현실 세계에 같은 상황은 없죠. 미래의 일을 완벽히 알 수도 없습니다. 그렇지만 분석을 통해 그 편린이라도 예측하려는 겁니다. 


**1.1.3. 데이터사이언스DataScience**

정리하자면 **데이터사이언스는 무의미한 데이터를 예측하여 의미있게 만드는 작업**이라고 할 수 있겠네요. 보통 그 작업을 분석Analysis이라고 합니다.

## 2. **분석을 시작하기 전에!: 문제 정의**

**좋은 분석**을 하려면 어떻게 해야할까요? 제가 생각하는 과정은 다음과 같습니다.

**2.1. 문제 정의**:

    코딩을 통해 이루고자 하는 목표, 맞닥뜨린 문제 파악
        e.g. 거주 지역은 건강 격차에 영향을 끼친다(끼칠 것 같다)

**2.2. 데이터 수집**:

    문제를 해결하기 위해 필요한 데이터, 학습이 필요한 자료 및 로드맵
        e.g. 보건복지부, 건강보험심사평가원의 병원 수, 사망자 데이터, 통계청 인구 데이터 수집, 인과 관계를 나타내기 위해 분류, 회귀 분석이 필요하므로 머신러닝 중 sklearn 학습

**2.3. 데이터 가공**:

    문제를 해결할 수 있도록 데이터 다듬기
        e.g. 시도, 시군구별 데이터로 정제

**2.4. 의미화**:

    문제 해결에 적합하도록 데이터를 결합, 분리하기. 각종 분석(탐색적 데이터분석EDA, 회귀, 분류, 기타 등등)
        e.g. 도시-비도시, 수도권-비수도권 데이터 생성, 도시화지수 생성, 이후 분류, 회귀 분석에 활용

**2.5. 대안 제시**

    분석 결과를 바탕으로 대안 혹은 해결 방법 제시. 필요 없을 수도 있음.

**2.6. 마감 맞추기**

    모든 일에는 마감이 있습니다. 특히 분석은 마감을 지키지 못한다면 아무리 훌륭한 분석이라도 의미 없습니다.


사실 1번 외에도 모든 과정에 **문제 정의**가 포함되어 있습니다. 어디에서 생성한 데이터를 활용할지, 수집한 병원 수, 사망자 데이터는 건강 격차를 잘 설명할 수 있는지, 시도별 혹은 시군구별로 정제할지, 도시-농촌을 나누는 기준을 어떻게 설정할지, 분류/회귀 분석에 적절한 데이터인지 등 모든 순간을 문제로 정의할 수 있습니다. 

그리고 **이 모든 문제를 얼마나 매끄럽게, 시간에 맞추어 해결하는지가 DataScience의 핵심**이라고 할 수 있습니다. 마감은 생명..!

### Q. 서울시 구별 CCTV 분석의 문제 의식 떠올려 보기

분석에 들어가기 전에 상상해봅시다. CCTV 분석에서 어떤 문제 정의를 할 수 있을까요? 떠오르는 대로 이야기하자면
- 공공기관은 세금으로 이루어지므로 세수(평균 소득, 총 소득)가 높을 수록 CCTV가 많이 설치 되었을 것이다.
- CCTV는 범죄 예방 및 처리가 목적이므로 범죄율이 높았거나 높았을 수록 CCTV가 많이 설치 되었을 것이다.
- 유동인구, 인구가 많고 인구 밀집도가 높은 곳일 수록 CCTV가 많이 설치 되었을 것이다.
- 전문 경비 시설이 구비된 아파트보다 다른 주거시설(단독주택, 연립주택, 다세대주택)이 범죄에 취약할 수 있으므로 해당하는 지역이 밀집할수록 CCTV가 많이 설치 되었을 것이다.

등등이 있겠죠. 자세한 내용은 무엇보다 구글링이나 논문을 찾아보고, 인사이트를 찾는 방법이 제일 빠르답니다. 누군가 먼저 연구를 했을 수 있으니까요!

우리는 실제 데이터를 통해 검증해보도록 합시다.

## 3. 데이터 수집

앗, 그런데 데이터를 어디서 구해야할까요? 여러 사이트가 있지만 오늘은 [서울 열린데이터 광장](https://data.seoul.go.kr/) 데이터를 사용할 예정입니다.

- [서울시 자치구 연도별 CCTV 설치 현황]((https://data.seoul.go.kr/dataList/OA-2734/F/1/datasetView.do))
- [서울시 주민등록인구 통계](http://data.seoul.go.kr/dataList/419/S/2/datasetView.do): 12년 ~ 21년을 '조회'하고 xls 형식으로 다운로드

혹시 다른 지역으로 해보시려면 웬만한 공공데이터가 모여 있는 [공공데이터포털](https://www.data.go.kr/)에서 찾으시면 됩니다.

## 4. 데이터 가공

### 4.1. 파일 읽어오기

하나는 csv(콤마로 구분된 텍스트 파일)이고, 다른 하나는 엑셀(.xlsx or .xls)입니다. 파이썬으로 이 둘을 모두 읽어볼 수 있는 방법을 익혀볼게요. pandas는 read_csv, read_excel 같은 단순한 코드 하나만으로 다양한 파일을 읽을 수 있습니다!

In [1]:
import pandas as pd    
import numpy as np

In [6]:
CCTV_Seoul = pd.read_csv('C:/Users/user/Downloads/서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', 
                        encoding='cp949')
CCTV_Seoul.head()  # 데이터 앞의 5줄만 보여주세요!

,"※ 2021.7.31. 현황을 기준으로 각 연도별 설치된 CCTV 수량. 교체(저화질교체, 성능개선)는 최초설치연도가 아닌 교체년도 수량에 포함",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
1,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
2,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
3,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
4,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0

후.. 이거 만든 사람 누군지 모르겠지만 맨 처음 행row이 컬럼column이 아니군요. 우리는 구별 비교를 할 예정이니 1행의 '계'에 해당하는 데이터도 필요 없네요. 어쩔 수 없죠. 처리해줍시다!

In [29]:
CCTV_Seoul = pd.read_csv('C:/Users/user/Downloads/서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', 
                        skiprows = [0,2],       # ※표시 있는 행, '계 있는 행 없애줘
                        header = 0,             # 컬럼은 위에서 삭제하고 남은 0번째 줄로 해줘
                        encoding='cp949')
CCTV_Seoul.head()  # 데이터 앞의 5줄만 보여줘!

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
1,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
2,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
3,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76
4,광진구,"2,588",35,57,100,187,98,52,675,465,712,175,32

항상 데이터들을 살펴보는 것을 잊지마세요. 데이터가 무엇을 의미하는지도 중요하니까요. 대충 강남구가 다른 곳에 비해서 많이 설치되어있네. 추이도 볼 수 있는데, 설치수가 줄어든 것도 보이고 늘어난 곳도 보이네요.

그런데 구의 column이름이 '기관명'으로 되어 있어서 이걸 '구별'로 바꿔볼게요!

In [31]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : '구별'}, 
                  inplace=True)
CCTV_Seoul.head()

,구별,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
1,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
2,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
3,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76
4,광진구,"2,588",35,57,100,187,98,52,675,465,712,175,32

그럼 서울인구수가 담긴 엑셀 데이터는 read_excel로 가져와 보겠습니다.

In [34]:
pop_Seoul = pd.read_excel('C:/Users/user/Downloads/Report.xls')
pop_Seoul.head()  # 데이터 앞의 5줄만 보여줘!

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,인구밀도,인구밀도.1,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,인구밀도,인구밀도,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,인구밀도(명/㎢),면적(㎢),세대당인구,65세이상고령자
2,2012,합계,4177970,10442426,5159665,5282761,10195318,5041336,5153982,247108,118329,128779,17255,605.18,2.44,1110995
3,2012,종로구,75659,173148,85997,87151,165207,82274,82933,7941,3723,4218,7243,23.91,2.18,23868
4,2012,중구,61546,140807,70762,70045,133360,67043,66317,7447,3719,3728,14136,9.96,2.17,18875

역시나 column 제목들이 마음에 안들죠? index 1번째 줄에 있는 것으로 타이틀을 변경하고 싶고, 필요없는 데이터들을 모두 지우고 싶어요. 그럴 때는 아래와 같이 하시면 됩니다.

In [35]:
pop_Seoul = pd.read_excel('C:/Users/user/Downloads/Report.xls', 
                          header= 2,                       # header는 row 2번째줄로!
                          usecols = 'A, B, D, E, F, G, J, M, N, O, P',       # 요 columns만 가져온다!
                          )  
pop_Seoul.head()

,기간,자치구,계,남자,여자,계.1,계.2,인구밀도(명/㎢),면적(㎢),세대당인구,65세이상고령자
0,2012,합계,10442426,5159665,5282761,10195318,247108,17255,605.18,2.44,1110995
1,2012,종로구,173148,85997,87151,165207,7941,7243,23.91,2.18,23868
2,2012,중구,140807,70762,70045,133360,7447,14136,9.96,2.17,18875
3,2012,용산구,255294,124708,130586,243232,12062,11674,21.87,2.20,33027
4,2012,성동구,306868,153272,153596,299604,7264,18214,16.85,2.38,34180

 그런데 columns 이름이 마음에 들지 않아요. 그리고 이 표를 잘 보세요. 우리가 나중에 구별 인구 대비 CCTV 설치수까지 비교를 해본다고 했잖아요. 나중에 이 데이터를 합칠텐데 CCTV 자료는 CCTV_Seoul에 있고, 서울인구 자료는 pop_Seoul에 나뉘어있죠? 데이터를 합치는 기준을 지역구로 하고 싶어요. 그래서 자치구를 '구별'로 바꿔주고 컬럼을 변수의 특성이 더 잘 나타나게 바꾸려고 합니다.

In [38]:
pop_Seoul = pop_Seoul.rename(columns={pop_Seoul.columns[1] : '구별',
                                      pop_Seoul.columns[2] : '인구수',
                                      pop_Seoul.columns[3] : '남성',
                                      pop_Seoul.columns[4] : '여성',
                                      pop_Seoul.columns[5] : '한국인',
                                      pop_Seoul.columns[6] : '외국인',
                                      pop_Seoul.columns[7] : '인구밀도',
                                      pop_Seoul.columns[8] : '면적',
                                      #pop_Seoul.columns[9] : '세대당인구',
                                      pop_Seoul.columns[10] : '고령자'})
pop_Seoul.head()

,기간,구별,인구수,남성,여성,한국인,외국인,인구밀도,면적,세대당인구,고령자
0,2012,합계,10442426,5159665,5282761,10195318,247108,17255,605.18,2.44,1110995
1,2012,종로구,173148,85997,87151,165207,7941,7243,23.91,2.18,23868
2,2012,중구,140807,70762,70045,133360,7447,14136,9.96,2.17,18875
3,2012,용산구,255294,124708,130586,243232,12062,11674,21.87,2.20,33027
4,2012,성동구,306868,153272,153596,299604,7264,18214,16.85,2.38,34180

### 4.2. 탐색적 데이터 분석Exploratory Data Analysis

**탐색적 데이터분석**, 줄여서 **EDA**는 데이터 분석에 돌입하기 전 데이터를 이해하기 위한 모든 작업입니다. 데이터의 형태나 분포가 어떤지, 어떤 양상을 띄는지 등 기본적인 표, 그래프를 그리는 일이 해당합니다. 누군가는 코드 치기도 바쁘고, 마감도 얼마 안남았는데 굳이 해야하나 싶기도 하겠지만! 꼭 필요한 작업이예요. 잘 했다고 생각한 분석이 알고보니 전혀 그런 데이터가 아닐 수도 있거든요. 심하게는 "이 사람은 암에 걸리지 않았을겁니다!"라고 자신만만하게 분석했는데, 암 관련 데이터가 아니거나 암 치료와 관련된 데이터라면 지금까지 한 모든 것들이 물거품이 되어버리거든요. 뿐만 아니라 EDA를 통해 데이터에 대해 더 자세하게 이해할 수 있으니 분석에 대한 통찰을 얻을 수 있겠죠?

CCTV가 어디에 많이 있고 없는지 궁금하죠? 그러면 '총계'가 CCTV 수니까 이를 정렬시켜보겠습니다.

- sort_values(by='기준 칼럼', ascending=True): 기준 칼럼을 기준으로 오름차순 정렬하기

In [40]:
CCTV_Seoul.sort_values('총계', ascending=True).head()

,구별,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
9,도봉구,"1,629",39,22,96,181,79,159,134,222,198,168,331
0,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
19,동작구,"2,297",41,24,25,503,128,253,271,300,322,419,11
1,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
17,금천구,"2,374",0,0,178,80,361,133,196,540,369,508,9

데이터를 살펴보는 것이니 따로 변수에 담아줄 필요는 없어요. 보니까 도봉구, 종로구, 동작구, 중구, 금천구가 CCTV 수로 하위 TOP5네요. 그리고 옆에 인덱스를 보면 구별에 따라서 인덱스가 적혀져 있어요. 이렇게 판다스는 고유한 인덱스가 변하지 않고 따라온다는 사실 덕분에 편하게 데이터를 가공할 수 있어요.

도봉구, 금천구는 각각 북쪽, 서쪽 외곽이죠. 종로구와 중구는 강북의 중심지역이네요. 그리고 우리 학교가 있는 동작구가 CCTV가 적은 축에 속하는군요.

정확히는 모르겠지만 외곽이나 큰 상권이 없거나 유동인구가 비교적 적은 곳이 많은 것 같습니다. 뭐, 더 자세한 내용은 분석을 해봐야 알겠지만요. 이런 생각을 할 수 있게 해준다는 점에서 EDA가 중요하답니다.

반대로 CCTV가 많이 설치되어 있는 TOP5 구들을 봅시다.

In [41]:
CCTV_Seoul.sort_values(by='총계', ascending=False).head(5)

,구별,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
22,강남구,"6,502",124,77,75,597,840,1310,999,748,789,942,1
20,관악구,"4,942",428,205,291,513,529,621,687,663,640,331,34
16,구로구,"4,075",852,216,349,187,268,326,540,488,434,415,0
7,성북구,"3,958",83,78,170,230,323,594,460,867,714,251,188
11,은평구,"3,791",14,3,44,332,329,555,403,635,1057,288,131

강남과 구로는 이전과 다르게 21년에는 거의 설치하지 않았군요. 코로나19 방역 때문에 인력과 예산이 부족하거나, 유동인구가 줄어서라고 생각할 수도 있겠습니다.

강남구, 관악구, 구로구, 성북구, 은평구 순이군요. 강남은 돈과 사람이 많은 곳이라서 맞는 것 같은데, 나머지 곳들은 딱히 해당하지는 않네요. 관악구, 구로구, 은평구도 외곽에 해당하니 외곽지역 가설도 재고해봐야겠어요. 이렇게 EDA를 통해 가설을 수정할 수 있습니다.

#### 데이터 연산하기

그 다음 살펴볼 것이 10년간 CCTV 증가율이에요. CCTV 데이터에 연도 데이터도 함께 있으니까 최근 증가율도 살펴볼 수 있어요.

(최근 10년간 CCTV 증가율) = (2012년 + 2013년 + 2014년 + 2015년 + 2016년 + 2017년 + 2018년 + 2019년 + 2020년 + 2021년) / (2012년도 이전)* 100