# COSADAMA Introduction to Data Science Study

# WEEK3 : [í”„ë¡œì íŠ¸] ì„œìš¸ì‹œ ë²”ì£„ í˜„í™© ë¶„ì„

- ì‘ì„±ì: ì†¡í˜œë¯¼
- ì°¸ê³ ìë£Œ: 2020/2021 ì½”ì‚¬ë‹¤ë§ˆ ë°ì´í„° ë¶„ì„ ì»¤ë¦¬í˜ëŸ¼(ë°•í•˜ëŒ), íŒŒì´ì¬ ë¨¸ì‹ ëŸ¬ë‹ ì™„ë²½ê°€ì´ë“œ(ê¶Œì² ë¯¼), ë¹„ì¥¬ì–¼í”„ë¡œê·¸ë˜ë° ìˆ˜ì—…(ê¹€ìŠ¹íƒœ), íŒŒì´ì¬ìœ¼ë¡œ ë°ì´í„° ì£¼ë¬´ë¥´ê¸°(ë¯¼í˜•ê¸°)

ì´ë²ˆ ì£¼ì—ëŠ” ì„œìš¸ì‹œ ë²”ì£„ í˜„í™© ë¶„ì„ í”„ë¡œì íŠ¸ë¥¼ í†µí•´ ì´ì „ ì£¼ì°¨ì— ë°°ì› ë˜ pandasë¥¼ ë” ë°°ì›Œë³´ëŠ” ì‹œê°„ì„ ê°€ì§ˆ ì˜ˆì •ì…ë‹ˆë‹¤. ë¿ë§Œ ì•„ë‹ˆë¼, Google Mapsë¥¼ í™œìš©í•˜ì—¬ ì£¼ì†Œ ë° ê²½/ìœ„ë„ë¥¼ ì°¾ì•„ë³´ê³ , ìƒˆë¡œìš´ ì‹œê°í™” ë„êµ¬ì¸ Seabornê³¼ Foliumì„ í†µí•œ ì§€ë„ ì‹œê°í™”ê¹Œì§€ ë°°ìš°ê²Œ ë©ë‹ˆë‹¤. ë˜í•œ, sklearnì˜ preprocessing ëª¨ë“ˆì„ í™œìš©í•˜ì—¬ ì •ê·œí™”(normalize)ê¹Œì§€ í•´ë³´ë ¤ê³  í•©ë‹ˆë‹¤. 

ì´ì „ì— ë°°ì› ë˜ ê²ƒë“¤ì„ ë³µìŠµí•˜ëŠ” ê²ƒê³¼ ë”ë¶ˆì–´ ìƒˆë¡­ê²Œ ë°°ìš°ëŠ” ë‚´ìš©ë“¤ì— ê´€í•´ ê¼¼ê¼¼í•˜ê²Œ í™•ì¸í•˜ì‹œë©´ì„œ ë”°ë¼ì™€ì£¼ì‹œëŠ”ê²Œ ì¢‹ê² ì£ ğŸ˜Š


### 1. ë¬¸ì œ ì •ì˜í•˜ê¸° 

êµ¬ì²´ì ìœ¼ë¡œ **ì„œìš¸ì‹œ ë²”ì£„ í˜„í™© ë¶„ì„**ì„ í•´ë³´ë ¤ê³  í•©ë‹ˆë‹¤. [2014ë…„ ì‹ ë¬¸ ê¸°ì‚¬](https://www.asiae.co.kr/article/2014102008312459233)ì— ë”°ë¥´ë©´ ê°•ë‚¨ 3êµ¬ì˜ ì²´ê°ì•ˆì „ë„ê°€ ë†’ì€ ê²ƒìœ¼ë¡œ íŒŒì•…ë˜ì—ˆë‹¤ê³  í•©ë‹ˆë‹¤. ë˜ ë‹¤ë¥¸ [ì‹ ë¬¸ ê¸°ì‚¬](https://news.mt.co.kr/mtview.php?no=2021011215094899686)ì— ë”°ë¥´ë©´ 2021ë…„ ì„œìš¸ì‹œ ì‚¬íšŒì•ˆì „ì§€ìˆ˜ëŠ” ìš©ì‚°êµ¬, ê°•ë‚¨êµ¬, ê°•ë™êµ¬, ì„œì´ˆêµ¬, ë§ˆí¬êµ¬, ì†¡íŒŒêµ¬ ìˆœìœ¼ë¡œ ë†’ê²Œ í‰ê°€ë˜ì—ˆìŠµë‹ˆë‹¤. 2021ë…„ ê¸°ì¤€ìœ¼ë¡œë„ 2014ë…„ê³¼ ë§ˆì°¬ê°€ì§€ë¡œ ì•ˆì „ì— ìˆì–´ ê°•ë‚¨ 3êµ¬ì˜ ì•ˆì „ ìˆ˜ì¹˜ê°€ ì¼ì •ë¶€ë¶„ ë†’ê²Œ íŒŒì•…ë˜ì—ˆë‹¤ê³  í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ë”°ë¼ì„œ ì´ë²ˆ í”„ë¡œì íŠ¸ëŠ” **ê°•ë‚¨ 3êµ¬ì˜ (ì²´ê°)ì•ˆì „ë„ê°€ ë†’ë‹¤ëŠ” ê¸°ì‚¬ë¥¼ ê²€ì¦**í•´ë³´ë ¤ í•©ë‹ˆë‹¤. 'ì„œìš¸ì‹œ êµ¬ë³„ ë²”ì£„ ë°œìƒê³¼ ê²€ê±°ìœ¨'ì„ í™œìš©í•˜ì—¬ ê²€ì¦í•  ì˜ˆì •ì´êµ¬ìš”. ë™ì‹œì— ì§€ë‚œ ì£¼ì— ì‚¬ìš©í–ˆë˜ ì¸êµ¬ ë°ì´í„°ë„ í•¨ê»˜ í™œìš©í•˜ì—¬ ì¸êµ¬ë³„ ë²”ì£„í˜„í™©ê¹Œì§€ ì•Œì•„ë³¼ ê²ë‹ˆë‹¤. 


### 2. ë°ì´í„° ìˆ˜ì§‘í•˜ê¸°

ì´ë²ˆ í”„ë¡œì íŠ¸ì—ì„œëŠ” ê³µê³µë°ì´í„°í¬í„¸ì˜ ë°ì´í„°ë¥¼ í™œìš©í•  ì˜ˆì •ì…ë‹ˆë‹¤. 
- [ê³µê³µë°ì´í„°í¬í„¸ - ì„œìš¸íŠ¹ë³„ì‹œ ê´€ì„œë³„ 5ëŒ€ ë²”ì£„ í˜„í™©](https://www.data.go.kr/data/15054738/fileData.do) 

ëª©ì ì´ ì‚¬íšŒì•ˆì „ì§€ìˆ˜ê°€ ë†’ì€ êµ¬ê°€ ì‹¤ì œë¡œ ì•ˆì „í•œì§€ë¥¼ ê²€ì¦í•˜ë ¤ëŠ” ê²ƒì´ì£ ? ìš°ë¦¬ëŠ” ì´ë¯¸ í™œìš©í•  ë°ì´í„°ê°€ ì£¼ì–´ì ¸ ìˆê¸° ë•Œë¬¸ì— ì´ëŸ° ê±±ì •ì„ í•˜ì§€ ì•Šì•„ë„ ë˜ì§€ë§Œ ëª©ì ì— ì í•©í•˜ë„ë¡ **ì–´ë–¤ ë°ì´í„°ë¥¼ ìˆ˜ì§‘í•  ê²ƒì¸ê°€**ë¥¼ ê²°ì •í•˜ëŠ” ê²ƒì€ ë§¤ìš° ì¤‘ìš”í•©ë‹ˆë‹¤! ì•ˆì „ì„ ì¦ëª…í•  ìˆ˜ ìˆìœ¼ë ¤ë©´ ì–´ë–¤ ë°ì´í„°ë¥¼ ëª¨ì•„ì•¼ í• ê¹Œìš”? ì—¬ëŸ¬ ê³ ë¯¼ì„ í•´ë³´ì‹œë©´ì„œ ê³µê³µë°ì´í„°í¬í„¸ ë° ë‹¤ì–‘í•œ ì‚¬ì´íŠ¸ì—ì„œ ë§ëŠ” ë°ì´í„°ë¥¼ ê²€ìƒ‰í•´ë³´ì‹œê¸¸ ë°”ëë‹ˆë‹¤. 


### 3. pandasë¥¼ ì´ìš©í•˜ì—¬ ë°ì´í„° ì •ë¦¬í•˜ê¸°

In [ ]:
df = pd.read_csv("C:\\Users\\user\\Downloads\\ê²½ì°°ì²­ ì„œìš¸íŠ¹ë³„ì‹œê²½ì°°ì²­_ê²½ì°°ì„œë³„ 5ëŒ€ë²”ì£„ ë°œìƒ ê²€ê±° í˜„í™©_12_31_2020.csv", 
                 encoding='euc-kr')
df.head()

   êµ¬ë¶„     ì£„ì¢… ë°œìƒê²€ê±°   ê±´ìˆ˜
0  ì¤‘ë¶€     ì‚´ì¸   ë°œìƒ    1
1  ì¤‘ë¶€     ì‚´ì¸   ê²€ê±°    1
2  ì¤‘ë¶€     ê°•ë„   ë°œìƒ    3
3  ì¤‘ë¶€     ê°•ë„   ê²€ê±°    4
4  ì¤‘ë¶€  ê°•ê°„,ì¶”í–‰   ë°œìƒ  113

In [ ]:
df['ë²”ì£„ ê²€ê±°'] = df["ì£„ì¢…"].map(str) + " " + df["ë°œìƒê²€ê±°"] #ì£„ì¢…, ë°œìƒê²€ê±° ì—´ì˜ í…ìŠ¤íŠ¸ë¥¼ ê²°í•©
df = df.drop(['ì£„ì¢…', 'ë°œìƒê²€ê±°'], axis = 1)
df.head()

   êµ¬ë¶„   ê±´ìˆ˜     ë²”ì£„ ê²€ê±°
0  ì¤‘ë¶€    1     ì‚´ì¸ ë°œìƒ
1  ì¤‘ë¶€    1     ì‚´ì¸ ê²€ê±°
2  ì¤‘ë¶€    3     ê°•ë„ ë°œìƒ
3  ì¤‘ë¶€    4     ê°•ë„ ê²€ê±°
4  ì¤‘ë¶€  113  ê°•ê°„,ì¶”í–‰ ë°œìƒ

In [ ]:
crimes = df['ë²”ì£„ ê²€ê±°'].unique()

data = []
for n in range(11) : 
        data.append(n)

crime_anal_police = df[df['ë²”ì£„ ê²€ê±°'] == crimes[0]]
crime_anal_police = crime_anal_police.drop(['ë²”ì£„ ê²€ê±°'], axis = 1)
crime_anal_police.columns = ['ê´€ì„œëª…', crimes[0]]
crime_anal_police = crime_anal_police.reset_index(drop = True)

for n in range(1, 10) : 
        data[n] = df[df['ë²”ì£„ ê²€ê±°'] == crimes[n]]
        data[n] = data[n].drop(['ë²”ì£„ ê²€ê±°'], axis = 1)
        data[n].columns = ['ê´€ì„œëª…', crimes[n]]
        data[n] = data[n].reset_index(drop = True)
        crime_anal_police = pd.merge(crime_anal_police, data[n], how = 'outer')

crime_anal_police = crime_anal_police.fillna(0) #nanê°’ì„ 0ìœ¼ë¡œ ëŒ€ì²´
crime_anal_police.head()

,ê´€ì„œëª…,ì‚´ì¸ ë°œìƒ,ì‚´ì¸ ê²€ê±°,ê°•ë„ ë°œìƒ,ê°•ë„ ê²€ê±°,"ê°•ê°„,ì¶”í–‰ ë°œìƒ","ê°•ê°„,ì¶”í–‰ ê²€ê±°",ì ˆë„ ë°œìƒ,ì ˆë„ ê²€ê±°,í­ë ¥ ë°œìƒ,í­ë ¥ ê²€ê±°
0,ì¤‘ë¶€,1,1,3,4,113.0,76.0,943,495,997,830
1,ì¢…ë¡œ,9,6,4,4,115.0,93.0,602,284,964,792
2,ë‚¨ëŒ€ë¬¸,1,1,2,2,73.0,52.0,699,368,579,494
3,ì„œëŒ€ë¬¸,3,3,2,1,159.0,149.0,1077,524,1292,1029
4,í˜œí™”,0,0,3,3,77.0,53.0,581,310,747,628

ì, ì´ì œ ë³¸ê²©ì ì¸ ë¶„ì„ì„ ìœ„í•œ ë°ì´í„° ì •ë¦¬ê°€ ì™„ë£Œë˜ì—ˆìŠµë‹ˆë‹¤! 

ê·¸ë¦¬ê³ , ë¶„ì„ ì „ì— ë°ì´í„° íƒ€ì…ì´ ì–´ë–»ê²Œ ë˜ì–´ìˆëŠ”ì§€ í™•ì¸í•´ì•¼ í•  í•„ìš”ê°€ ìˆê² ì£ ?

In [ ]:
crime_anal_police.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ê´€ì„œëª…       31 non-null     object
 1   ì‚´ì¸ ë°œìƒ     31 non-null     int64
 2   ì‚´ì¸ ê²€ê±°     31 non-null     int64
 3   ê°•ë„ ë°œìƒ     31 non-null     int64
 4   ê°•ë„ ê²€ê±°     31 non-null     int64
 5   ê°•ê°„,ì¶”í–‰ ë°œìƒ  31 non-null     float64
 6   ê°•ê°„,ì¶”í–‰ ê²€ê±°  31 non-null     float64
 7   ì ˆë„ ë°œìƒ     31 non-null     int64
 8   ì ˆë„ ê²€ê±°     31 non-null     int64
 9   í­ë ¥ ë°œìƒ     31 non-null     int64
 10  í­ë ¥ ê²€ê±°     31 non-null     int64
dtypes: float64(2), int64(8), object(1)
memory usage: 2.9+ KB

ê´€ì„œëª…ì„ ì œì™¸í•œ ëª¨ë“  ë°ì´í„°ê°€ int64ì™€ float64ë¡œ ë‚˜íƒ€ë‚˜ê³  ìˆë„¤ìš”. ë”°ë¡œ ë°ì´í„° íƒ€ì…ì„ ë°”ê¿€ í•„ìš” ì—†ì´ ê·¸ëŒ€ë¡œ ë¶„ì„ì„ ì§„í–‰í•˜ë©´ ë˜ê² ìŠµë‹ˆë‹¤.

ì, ê·¸ëŸ¼ ë‹¤ì‹œ í•œë²ˆ ìš°ë¦¬ê°€ ë¶„ì„í•´ë³¼ ë°ì´í„°ë¥¼ ë³´ì£ .

In [ ]:
crime_anal_police.head(20)

,ê´€ì„œëª…,ì‚´ì¸ ë°œìƒ,ì‚´ì¸ ê²€ê±°,ê°•ë„ ë°œìƒ,ê°•ë„ ê²€ê±°,"ê°•ê°„,ì¶”í–‰ ë°œìƒ","ê°•ê°„,ì¶”í–‰ ê²€ê±°",ì ˆë„ ë°œìƒ,ì ˆë„ ê²€ê±°,í­ë ¥ ë°œìƒ,í­ë ¥ ê²€ê±°
0,ì¤‘ë¶€,1,1,3,4,113.0,76.0,943,495,997,830
1,ì¢…ë¡œ,9,6,4,4,115.0,93.0,602,284,964,792
2,ë‚¨ëŒ€ë¬¸,1,1,2,2,73.0,52.0,699,368,579,494
3,ì„œëŒ€ë¬¸,3,3,2,1,159.0,149.0,1077,524,1292,1029
4,í˜œí™”,0,0,3,3,77.0,53.0,581,310,747,628
5,ìš©ì‚°,5,3,6,6,230.0,186.0,1111,534,1617,1327
6,ì„±ë¶,0,0,2,2,0.0,0.0,439,233,672,610
7,ë™ëŒ€ë¬¸,10,8,6,5,161.0,142.0,1440,713,1784,1597
8,ë§ˆí¬,9,8,4,3,348.0,287.0,1483,679,1844,1557
9,ì˜ë“±í¬,7,4,6,5,315.0,252.0,2188,953,2701,2157
10,ì„±ë™,5,5,3,3,115.0,98.0,1016,565,1223,1103
11,ë™ì‘,1,1,1,2,226.0,121.0,1341,592,1631,1370
12,ê´‘ì§„,2,2,4,4,255.0,224.0,1664,874,1676,1407
13,ì„œë¶€,3,3,3,2,76.0,71.0,532,322,748,667
14,ê°•ë¶,9,8,5,4,159.0,132.0,780,490,1817,1625
15,ê¸ˆì²œ,4,4,7,6,117.0,93.0,999,553,1471,1310
16,ì¤‘ë‘,10,9,5,6,183.0,153.0,1506,889,2022,1724
17,ê°•ë‚¨,5,3,12,10,513.0,433.0,1941,1016,2283,1911
18,ê´€ì•…,12,12,3,3,403.0,351.0,2229,1137,2614,2355
19,ê°•ì„œ,10,9,6,5,265.0,222.0,1689,1070,2445,2087

ê²½ì°°ì„œ ì´ë¦„ì´ ê´€ì„œëª…ìœ¼ë¡œ ë˜ì–´ ìˆìŠµë‹ˆë‹¤. ìš°ë¦¬ëŠ” ì´í›„ ì„œìš¸íŠ¹ë³„ì‹œ êµ¬ë³„ì— ë”°ë¼ ì‹œê°í™”í•˜ì—¬ í‘œí˜„í•˜ê³  ì‹¶ê¸° ë•Œë¬¸ì— ì´ë¥¼ ê´€ì„œëª…ì´ ì•„ë‹Œ, 'êµ¬ë³„'ë¡œ ë°”ê¿”ì£¼ê³  ì‹¶ì–´ìš”. ê°™ì€ êµ¬ì— ì—¬ëŸ¬ ê´€ì„œê°€ ìˆì„ ìˆ˜ ìˆê¸° ë•Œë¬¸ì—, ì£¼ì†Œë¥¼ ì •í™•íˆ íŒŒì•…í•´ì„œ ê°™ì€ êµ¬ì— ìˆëŠ” ê²ƒì€ í•©ì¶°ì£¼ì–´ í•˜ë‚˜ì˜ êµ¬ë¡œ í‘œì‹œí•´ë³´ê² ìŠµë‹ˆë‹¤. ì´ë¥¼ ìœ„í•´ì„œ ìš°ë¦¬ëŠ” Google Mapsë¥¼ ì‚¬ìš©í•  ê±°ì—ìš”!