
### 3. pandas를 이용하여 데이터 정리하기

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("C:\\Users\\user\\Downloads\\경찰청 서울특별시경찰청_경찰서별 5대범죄 발생 검거 현황_12_31_2020.csv", 
                 encoding='euc-kr')
df.head()

   구분     죄종 발생검거   건수
0  중부     살인   발생    1
1  중부     살인   검거    1
2  중부     강도   발생    3
3  중부     강도   검거    4
4  중부  강간,추행   발생  113

In [ ]:
df['범죄 검거'] = df["죄종"].map(str) + " " + df["발생검거"] #죄종, 발생검거 열의 텍스트를 결합
df = df.drop(['죄종', '발생검거'], axis = 1)
df.head()

   구분   건수     범죄 검거
0  중부    1     살인 발생
1  중부    1     살인 검거
2  중부    3     강도 발생
3  중부    4     강도 검거
4  중부  113  강간,추행 발생

In [ ]:
crimes = df['범죄 검거'].unique()

data = []
for n in range(11) : 
        data.append(n)

crime_anal_police = df[df['범죄 검거'] == crimes[0]]
crime_anal_police = crime_anal_police.drop(['범죄 검거'], axis = 1)
crime_anal_police.columns = ['관서명', crimes[0]]
crime_anal_police = crime_anal_police.reset_index(drop = True)

for n in range(1, 10) : 
        data[n] = df[df['범죄 검거'] == crimes[n]]
        data[n] = data[n].drop(['범죄 검거'], axis = 1)
        data[n].columns = ['관서명', crimes[n]]
        data[n] = data[n].reset_index(drop = True)
        crime_anal_police = pd.merge(crime_anal_police, data[n], how = 'outer')

crime_anal_police = crime_anal_police.fillna(0) #nan값을 0으로 대체
crime_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,"강간,추행 발생","강간,추행 검거",절도 발생,절도 검거,폭력 발생,폭력 검거
0,중부,1,1,3,4,113.0,76.0,943,495,997,830
1,종로,9,6,4,4,115.0,93.0,602,284,964,792
2,남대문,1,1,2,2,73.0,52.0,699,368,579,494
3,서대문,3,3,2,1,159.0,149.0,1077,524,1292,1029
4,혜화,0,0,3,3,77.0,53.0,581,310,747,628

자, 이제 본격적인 분석을 위한 데이터 정리가 완료되었습니다! 

그리고, 분석 전에 데이터 타입이 어떻게 되어있는지 확인해야 할 필요가 있겠죠?

In [ ]:
crime_anal_police.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   관서명       31 non-null     object
 1   살인 발생     31 non-null     int64
 2   살인 검거     31 non-null     int64
 3   강도 발생     31 non-null     int64
 4   강도 검거     31 non-null     int64
 5   강간,추행 발생  31 non-null     float64
 6   강간,추행 검거  31 non-null     float64
 7   절도 발생     31 non-null     int64
 8   절도 검거     31 non-null     int64
 9   폭력 발생     31 non-null     int64
 10  폭력 검거     31 non-null     int64
dtypes: float64(2), int64(8), object(1)
memory usage: 2.9+ KB

관서명을 제외한 모든 데이터가 int64와 float64로 나타나고 있네요. 따로 데이터 타입을 바꿀 필요 없이 그대로 분석을 진행하면 되겠습니다.

자, 그럼 다시 한번 우리가 분석해볼 데이터를 보죠.

In [ ]:
crime_anal_police.head(20)

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,"강간,추행 발생","강간,추행 검거",절도 발생,절도 검거,폭력 발생,폭력 검거
0,중부,1,1,3,4,113.0,76.0,943,495,997,830
1,종로,9,6,4,4,115.0,93.0,602,284,964,792
2,남대문,1,1,2,2,73.0,52.0,699,368,579,494
3,서대문,3,3,2,1,159.0,149.0,1077,524,1292,1029
4,혜화,0,0,3,3,77.0,53.0,581,310,747,628
5,용산,5,3,6,6,230.0,186.0,1111,534,1617,1327
6,성북,0,0,2,2,0.0,0.0,439,233,672,610
7,동대문,10,8,6,5,161.0,142.0,1440,713,1784,1597
8,마포,9,8,4,3,348.0,287.0,1483,679,1844,1557
9,영등포,7,4,6,5,315.0,252.0,2188,953,2701,2157
10,성동,5,5,3,3,115.0,98.0,1016,565,1223,1103
11,동작,1,1,1,2,226.0,121.0,1341,592,1631,1370
12,광진,2,2,4,4,255.0,224.0,1664,874,1676,1407
13,서부,3,3,3,2,76.0,71.0,532,322,748,667
14,강북,9,8,5,4,159.0,132.0,780,490,1817,1625
15,금천,4,4,7,6,117.0,93.0,999,553,1471,1310
16,중랑,10,9,5,6,183.0,153.0,1506,889,2022,1724
17,강남,5,3,12,10,513.0,433.0,1941,1016,2283,1911
18,관악,12,12,3,3,403.0,351.0,2229,1137,2614,2355
19,강서,10,9,6,5,265.0,222.0,1689,1070,2445,2087

경찰서 이름이 관서명으로 되어 있습니다. 우리는 이후 서울특별시 구별에 따라 시각화하여 표현하고 싶기 때문에 이를 관서명이 아닌, '구별'로 바꿔주고 싶어요. 같은 구에 여러 관서가 있을 수 있기 때문에, 주소를 정확히 파악해서 같은 구에 있는 것은 합춰주어 하나의 구로 표시해보겠습니다. 이를 위해서 우리는 Google Maps를 사용할 거에요!